<div class="jumbtron">
<h1>Welcome to Find That word!</h1>
</div>
<p>
  Here's how it works.  You type in a sentence where it says to type a sentence, then you a type a word from that sentence. After that you click the button below, and the art of coding, it will tell you how many times your word appears(if at all!)
</p>
<form action="/result" method="post">
  <div class="form-group">
    <label for="sentence">Please enter your sentence here!</label>
    <input name="sentence" id="sentence" type="text" class="form-control"></input>
  </div>
  <div class="form-group">
    <label for="word_find">Please enter your sentence here!</label>
    <input name="word_find" id="word_find" type="text" class="form-control"></input>
  </div>
  <button type="submit"class="btn">Find your word!</button>
</form>
